#root {
  margin-top: 20px;
}
#notenschnittCard,
#addFutureExamsCard {
  width: 400px;
}

#notenschnittCard {
  position: fixed;
  right: 40px;
}

#addFutureExamsCard {
  position: fixed;
  right: 40px;
  top: 142px;
}

#notenschnitt {
  font-size: 24px;
  cursor: pointer;
}

.notenschnitt-end {
  color: #A7A7A7;
}

.ui.celled.table.notentabelle th {
  background: #d0313c;
  color: white;
}

.noteInput {
  width: 75px;
}

.notentabelle tr > td:last-child,
.notentabelle tr > td:nth-last-child(1) {
  width: 100px;
}

#newExamSelection tr > td:first-child {
  width: 80px;
}

#newExamSelection tr > td:last-child {
  width: 100%;
}

#newExamSelection th {
  font-weight: bold;
  text-align: left;
}

#login-form button {
  background-color: #d0313c;
  color: white;
}

#login-form h2 {
  color: #404847;
}
